
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use 'scss/mixins/roles' as roles;
@use 'scss/mixins/states' as states;
@use 'scss/mixins/theme' as theme;
@use 'scss/tokens';
@use 'scss/material';
@use 'scss/app';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$theme-name: bw-theme;
@include theme.init($theme-name);
@include theme.add-surface-tones($theme-name);
@include theme.add-surface-variant-tones($theme-name);
@include theme.add-inverse-surface-tones($theme-name);
@include theme.build($theme-name);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blackwood-primary: mat.define-palette(mat.$indigo-palette);
$blackwood-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$blackwood-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$blackwood-theme: mat.define-light-theme((
  color: (
    primary: $blackwood-primary,
    accent: $blackwood-accent,
    warn: $blackwood-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($blackwood-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  @include roles.background;

  margin: 0;
  display: flex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.test {
  @include roles.primary;
}

:root {
  --md-sys-state-hover-state-layer-opacity: .08;
  --md-sys-state-focus-state-layer-opacity: .12;
  --md-sys-state-pressed-state-layer-opacity: .12;
  --md-sys-state-dragged-state-layer-opacity: .16;

  --md-sys-elevation-level-0: none;
  --md-sys-elevation-level-1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --md-sys-elevation-level-2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --md-sys-elevation-level-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}
