@mixin primary {
  @include _private-set-accent-role(primary);
}

@mixin primary-container {
  @include _private-set-accent-role(primary, true);
}

@mixin secondary {
  @include _private-set-accent-role(secondary);
}

@mixin secondary-container {
  @include _private-set-accent-role(secondary, true);
}

@mixin tertiary {
  @include _private-set-accent-role(tertiary);
}

@mixin tertiary-container {
  @include _private-set-accent-role(tertiary, true);
}

@mixin error {
  @include _private-set-accent-role(error);
}

@mixin error-container {
  @include _private-set-accent-role(error, true);
}

@mixin background {
  @include _private-set-basic-role(--md-sys-color-background, --md-sys-color-on-background);
}

@mixin surface($tone: 0) {
  @include _private-set-surface-tonal-background(--md-sys-color-surface, --md-sys-color-on-surface, $tone);
}

@mixin surface-variant($tone: 0) {
  @include _private-set-surface-tonal-background(--md-sys-color-surface-variant, --md-sys-color-on-surface-variant, $tone);
}

@mixin inverse-surface($tone: 0) {
  @include _private-set-surface-tonal-background(--md-sys-color-inverse-surface, --md-sys-color-inverse-on-surface, $tone);
}

@mixin _private-set-accent-role($accent-color, $is-container: false) {
  $container-rgb-var: --md-sys-color-#{$accent-color};
  $color-rgb-var: --md-sys-color-on-#{$accent-color};

  @if $is-container {
    $container-rgb-var: --md-sys-color-#{$accent-color}-container;
    $color-rgb-var: --md-sys-color-on-#{$accent-color}-container;
  }

  @include _private-set-basic-role($container-rgb-var, $color-rgb-var);
}

@mixin _private-set-basic-role($container-rgb-var, $color-rgb-var) {
  --container-rgb: var(#{$container-rgb-var});
  --color-rgb: var(#{$color-rgb-var});

  background-color: var(--container-rgb);
  color: var(--color-rgb);
}

@mixin _private-set-surface-tonal-background($container-rgb-var, $color-rgb-var, $tone: 0) {
  @include _private-set-basic-role($container-rgb-var, $color-rgb-var);

  @if $tone > 0 {
    @include _private-set-complex-background($container-rgb-var, --md-sys-color-primary, --md-sys-surface-#{$tone}-state-layer-opacity);
  }
}

@mixin _private-set-complex-background($base-rgb-var, $overlay-rgb-var, $overlay-opacity-var) {
  --base-r: var(#{$base-rgb-var}-r);
  --base-g: var(#{$base-rgb-var}-g);
  --base-b: var(#{$base-rgb-var}-b);
  --state-r: var(#{$overlay-rgb-var}-r);
  --state-g: var(#{$overlay-rgb-var}-g);
  --state-b: var(#{$overlay-rgb-var}-b);
  --state-opacity: var(#{$overlay-opacity-var});
  --background-r: calc(var(--base-r) * (1.0 - var(--state-opacity)) + var(--state-r) * var(--state-opacity));
  --background-g: calc(var(--base-g) * (1.0 - var(--state-opacity)) + var(--state-g) * var(--state-opacity));
  --background-b: calc(var(--base-b) * (1.0 - var(--state-opacity)) + var(--state-b) * var(--state-opacity));
  background-color: rgb(var(--background-r), var(--background-g), var(--background-b)) !important;
}
