@mixin init {
  @at-root {
    ::-webkit-scrollbar {
      width: 24px;
    }
    ::-webkit-scrollbar-thumb {
      height: 56px;
      border-radius: 12px;
      border: 8px solid transparent;
      background-clip: content-box;
      background-color: var(--md-sys-color-outline);
    }
  }
}
