@mixin primary($state) {
  @include _private-add-state(primary, $state);
}

@mixin primary-container($state) {
  @include _private-add-state(primary-container, $state);
}

@mixin secondary($state) {
  @include _private-add-state(secondary, $state);
}

@mixin secondary-container($state) {
  @include _private-add-state(secondary-container, $state);
}

@mixin tertiary($state) {
  @include _private-add-state(tertiary, $state);
}

@mixin tertiary-container($state) {
  @include _private-add-state(tertiary-container, $state);
}

@mixin error($state) {
  @include _private-add-state(error, $state);
}

@mixin error-container($state) {
  @include _private-add-state(error-container, $state);
}

@mixin selected {
  --container: var(--md-sys-color-selected);
}

@mixin activated {
  --container: var(--md-sys-color-activated);
  --color: var(--md-sys-color-on-activated);
}

@mixin disabled {
  --container: var(--md-sys-color-disabled);
  --color: var(--md-sys-color-on-disabled);
}

@mixin _private-add-state($accent-role, $state) {
  --container: var(--md-sys-color-#{$accent-role}-#{$state});
}
