$color-palette: (
  --md-sys-color-primary-light: #006f00,
  --md-sys-color-on-primary-light: #ffffff,
  --md-sys-color-primary-container-light: #76ff60,
  --md-sys-color-on-primary-container-light: #002200,
  --md-sys-color-secondary-light: #54634d,
  --md-sys-color-on-secondary-light: #ffffff,
  --md-sys-color-secondary-container-light: #d7e7cd,
  --md-sys-color-on-secondary-container-light: #121f0e,
  --md-sys-color-tertiary-light: #386669,
  --md-sys-color-on-tertiary-light: #ffffff,
  --md-sys-color-tertiary-container-light: #bcebee,
  --md-sys-color-on-tertiary-container-light: #002022,
  --md-sys-color-error-light: #ba1b1b,
  --md-sys-color-on-error-light: #ffffff,
  --md-sys-color-error-container-light: #ffdad4,
  --md-sys-color-on-error-container-light: #410001,
  --md-sys-color-outline-light: #73796e,
  --md-sys-color-background-light: #fcfcf6,
  --md-sys-color-on-background-light: #1a1c19,
  --md-sys-color-surface-light: #fcfcf6,
  --md-sys-color-on-surface-light: #1a1c19,
  --md-sys-color-surface-variant-light: #dee4d7,
  --md-sys-color-on-surface-variant-light: #43493f,
  --md-sys-color-inverse-surface-light: #2f312d,
  --md-sys-color-inverse-on-surface-light: #f1f1eb,
  --md-sys-color-primary-dark: #56e244,
  --md-sys-color-on-primary-dark: #003a00,
  --md-sys-color-primary-container-dark: #005300,
  --md-sys-color-on-primary-container-dark: #76ff60,
  --md-sys-color-secondary-dark: #bbcbb2,
  --md-sys-color-on-secondary-dark: #273422,
  --md-sys-color-secondary-container-dark: #3d4b37,
  --md-sys-color-on-secondary-container-dark: #d7e7cd,
  --md-sys-color-tertiary-dark: #a0cfd2,
  --md-sys-color-on-tertiary-dark: #00373a,
  --md-sys-color-tertiary-container-dark: #1e4d50,
  --md-sys-color-on-tertiary-container-dark: #bcebee,
  --md-sys-color-error-dark: #ffb4a9,
  --md-sys-color-on-error-dark: #680003,
  --md-sys-color-error-container-dark: #930006,
  --md-sys-color-on-error-container-dark: #ffdad4,
  --md-sys-color-outline-dark: #8d9388,
  --md-sys-color-background-dark: #1a1c19,
  --md-sys-color-on-background-dark: #e2e3dc,
  --md-sys-color-surface-dark: #1a1c19,
  --md-sys-color-on-surface-dark: #e2e3dc,
  --md-sys-color-surface-variant-dark: #43493f,
  --md-sys-color-on-surface-variant-dark: #c3c9bc,
  --md-sys-color-inverse-surface-dark: #e2e3dc,
  --md-sys-color-inverse-on-surface-dark: #1a1c19
);
