$surface-state-layer-opacity: (
  --md-sys-surface-1-state-layer-opacity: 5%,
  --md-sys-surface-2-state-layer-opacity: 8%,
  --md-sys-surface-3-state-layer-opacity: 11%,
  --md-sys-surface-4-state-layer-opacity: 12%,
  --md-sys-surface-5-state-layer-opacity: 14%
);
