$color-palette: (
  --md-sys-color-primary-light: #006f00,
  --md-sys-color-on-primary-light: #ffffff,
  --md-sys-color-primary-container-light: #76ff60,
  --md-sys-color-on-primary-container-light: #002200,
  --md-sys-color-secondary-light: #54634d,
  --md-sys-color-on-secondary-light: #ffffff,
  --md-sys-color-secondary-container-light: #d7e7cd,
  --md-sys-color-on-secondary-container-light: #121f0e,
  --md-sys-color-tertiary-light: #386669,
  --md-sys-color-on-tertiary-light: #ffffff,
  --md-sys-color-tertiary-container-light: #bcebee,
  --md-sys-color-on-tertiary-container-light: #002022,
  --md-sys-color-error-light: #ba1b1b,
  --md-sys-color-on-error-light: #ffffff,
  --md-sys-color-error-container-light: #ffdad4,
  --md-sys-color-on-error-container-light: #410001,
  --md-sys-color-outline-light: #73796e,
  --md-sys-color-background-light: #fcfcf6,
  --md-sys-color-on-background-light: #1a1c19,
  --md-sys-color-surface-light: #fcfcf6,
  --md-sys-color-on-surface-light: #1a1c19,
  --md-sys-color-surface-variant-light: #dee4d7,
  --md-sys-color-on-surface-variant-light: #43493f,
  --md-sys-color-inverse-surface-light: #2f312d,
  --md-sys-color-inverse-on-surface-light: #f1f1eb,
  --md-sys-color-primary-dark: #56e244,
  --md-sys-color-on-primary-dark: #003a00,
  --md-sys-color-primary-container-dark: #005300,
  --md-sys-color-on-primary-container-dark: #76ff60,
  --md-sys-color-secondary-dark: #bbcbb2,
  --md-sys-color-on-secondary-dark: #273422,
  --md-sys-color-secondary-container-dark: #3d4b37,
  --md-sys-color-on-secondary-container-dark: #d7e7cd,
  --md-sys-color-tertiary-dark: #a0cfd2,
  --md-sys-color-on-tertiary-dark: #00373a,
  --md-sys-color-tertiary-container-dark: #1e4d50,
  --md-sys-color-on-tertiary-container-dark: #bcebee,
  --md-sys-color-error-dark: #ffb4a9,
  --md-sys-color-on-error-dark: #680003,
  --md-sys-color-error-container-dark: #930006,
  --md-sys-color-on-error-container-dark: #ffdad4,
  --md-sys-color-outline-dark: #8d9388,
  --md-sys-color-background-dark: #1a1c19,
  --md-sys-color-on-background-dark: #e2e3dc,
  --md-sys-color-surface-dark: #1a1c19,
  --md-sys-color-on-surface-dark: #e2e3dc,
  --md-sys-color-surface-variant-dark: #43493f,
  --md-sys-color-on-surface-variant-dark: #c3c9bc,
  --md-sys-color-inverse-surface-dark: #e2e3dc,
  --md-sys-color-inverse-on-surface-dark: #1a1c19
);

$surface-state-layer-opacity: (
  --md-sys-surface-1-state-layer-opacity: 5%,
  --md-sys-surface-2-state-layer-opacity: 8%,
  --md-sys-surface-3-state-layer-opacity: 11%,
  --md-sys-surface-4-state-layer-opacity: 12%,
  --md-sys-surface-5-state-layer-opacity: 14%
);

$state-layer-opacity: (
  --md-sys-state-hover-state-layer-opacity: .08,
  --md-sys-state-focus-state-layer-opacity: .12,
  --md-sys-state-pressed-state-layer-opacity: .12,
  --md-sys-state-dragged-state-layer-opacity: .16
);

$disabled-state-opacity: (
  --md-sys-state-disabled-container-opacity: .12,
  --md-sys-state-disabled-content-opacity: .38
);

$typeface: (
  --md-ref-typeface-brand: Roboto,
  --md-ref-typeface-plain: Roboto
);

$typeface-weight: (
  --md-ref-typeface-weight-regular: 400,
  --md-ref-typeface-weight-medium: 500
);

$typescale: (
  --md-sys-typescale-display-large-font: --md-ref-typeface-brand,
  --md-sys-typescale-display-large-line-height: 64,
  --md-sys-typescale-display-large-size: 57,
  --md-sys-typescale-display-large-tracking: 0,
  --md-sys-typescale-display-large-weight: --md-ref-typeface-weight-regular,
  --md-sys-typescale-display-medium-font: --md-ref-typeface-brand,
  --md-sys-typescale-display-medium-line-height: 52,
  --md-sys-typescale-display-medium-size: 45,
  --md-sys-typescale-display-medium-tracking: 0,
  --md-sys-typescale-display-medium-weight: --md-ref-typeface-weight-regular,
  --md-sys-typescale-display-small-font: --md-ref-typeface-brand,
  --md-sys-typescale-display-small-line-height: 44,
  --md-sys-typescale-display-small-size: 36,
  --md-sys-typescale-display-small-tracking: 0,
  --md-sys-typescale-display-small-weight: --md-ref-typeface-weight-regular,
  --md-sys-typescale-headline-large-font: --md-ref-typeface-brand,
  --md-sys-typescale-headline-large-line-height: 40,
  --md-sys-typescale-headline-large-size: 32,
  --md-sys-typescale-headline-large-tracking: 0,
  --md-sys-typescale-headline-large-weight: --md-ref-typeface-weight-regular,
  --md-sys-typescale-headline-medium-font: --md-ref-typeface-brand,
  --md-sys-typescale-headline-medium-line-height: 36,
  --md-sys-typescale-headline-medium-size: 28,
  --md-sys-typescale-headline-medium-tracking: 0,
  --md-sys-typescale-headline-medium-weight: --md-ref-typeface-weight-regular,
  --md-sys-typescale-headline-small-font: --md-ref-typeface-brand,
  --md-sys-typescale-headline-small-line-height: 32,
  --md-sys-typescale-headline-small-size: 24,
  --md-sys-typescale-headline-small-tracking: 0,
  --md-sys-typescale-headline-small-weight: --md-ref-typeface-weight-regular,
  --md-sys-typescale-title-large-font: --md-ref-typeface-brand,
  --md-sys-typescale-title-large-line-height: 28,
  --md-sys-typescale-title-large-size: 22,
  --md-sys-typescale-title-large-tracking: 0,
  --md-sys-typescale-title-large-weight: --md-ref-typeface-weight-regular,
  --md-sys-typescale-title-medium-font: --md-ref-typeface-plain,
  --md-sys-typescale-title-medium-line-height: 24,
  --md-sys-typescale-title-medium-size: 16,
  --md-sys-typescale-title-medium-tracking: 0.15,
  --md-sys-typescale-title-medium-weight: --md-ref-typeface-weight-medium,
  --md-sys-typescale-title-small-font: --md-ref-typeface-plain,
  --md-sys-typescale-title-small-line-height: 20,
  --md-sys-typescale-title-small-size: 14,
  --md-sys-typescale-title-small-tracking: 0.1,
  --md-sys-typescale-title-small-weight: --md-ref-typeface-weight-medium,
  --md-sys-typescale-label-large-font: --md-ref-typeface-plain,
  --md-sys-typescale-label-large-line-height: 20,
  --md-sys-typescale-label-large-size: 14,
  --md-sys-typescale-label-large-tracking: 0.1,
  --md-sys-typescale-label-large-weight: --md-ref-typeface-weight-medium,
  --md-sys-typescale-label-medium-font: --md-ref-typeface-plain,
  --md-sys-typescale-label-medium-line-height: 16,
  --md-sys-typescale-label-medium-size: 12,
  --md-sys-typescale-label-medium-tracking: 0.5,
  --md-sys-typescale-label-medium-weight: --md-ref-typeface-weight-medium,
  --md-sys-typescale-label-small-font: --md-ref-typeface-plain,
  --md-sys-typescale-label-small-line-height: 6,
  --md-sys-typescale-label-small-size: 11,
  --md-sys-typescale-label-small-tracking: 0.5,
  --md-sys-typescale-label-small-weight: --md-ref-typeface-weight-medium,
  --md-sys-typescale-body-large-font: --md-ref-typeface-plain,
  --md-sys-typescale-body-large-line-height: 24,
  --md-sys-typescale-body-large-size: 16,
  --md-sys-typescale-body-large-tracking: 0.15,
  --md-sys-typescale-body-large-weight: --md-ref-typeface-weight-regular,
  --md-sys-typescale-body-medium-font: --md-ref-typeface-plain,
  --md-sys-typescale-body-medium-line-height: 20,
  --md-sys-typescale-body-medium-size: 14,
  --md-sys-typescale-body-medium-tracking: 0.25,
  --md-sys-typescale-body-medium-weight: --md-ref-typeface-weight-regular,
  --md-sys-typescale-body-small-font: --md-ref-typeface-plain,
  --md-sys-typescale-body-small-line-height: 16,
  --md-sys-typescale-body-small-size: 12,
  --md-sys-typescale-body-small-tracking: 0.4,
  --md-sys-typescale-body-small-weight: --md-ref-typeface-weight-regular
);

$typescale-device-offset-level-cost: 4;

$typescale-device-offset-level: (
  --md-sys-typescale-display-large-mobile: 0,
  --md-sys-typescale-display-large-tablet: 1,
  --md-sys-typescale-display-large-desktop: 3,
  --md-sys-typescale-display-medium-mobile: 0,
  --md-sys-typescale-display-medium-tablet: 1,
  --md-sys-typescale-display-medium-desktop: 3,
  --md-sys-typescale-display-small-mobile: 0,
  --md-sys-typescale-display-small-tablet: 1,
  --md-sys-typescale-display-small-desktop: 3,
  --md-sys-typescale-headline-large-mobile: 0,
  --md-sys-typescale-headline-large-tablet: 1,
  --md-sys-typescale-headline-large-desktop: 3,
  --md-sys-typescale-headline-medium-mobile: 0,
  --md-sys-typescale-headline-medium-tablet: 1,
  --md-sys-typescale-headline-medium-desktop: 3,
  --md-sys-typescale-headline-small-mobile: 0,
  --md-sys-typescale-headline-small-tablet: 0,
  --md-sys-typescale-headline-small-desktop: 0,
  --md-sys-typescale-title-large-mobile: 0,
  --md-sys-typescale-title-large-tablet: 0,
  --md-sys-typescale-title-large-desktop: 0,
  --md-sys-typescale-title-medium-mobile: 0,
  --md-sys-typescale-title-medium-tablet: 0,
  --md-sys-typescale-title-medium-desktop: 0,
  --md-sys-typescale-title-small-mobile: 0,
  --md-sys-typescale-title-small-tablet: 0,
  --md-sys-typescale-title-small-desktop: 0,
  --md-sys-typescale-label-large-mobile: 0,
  --md-sys-typescale-label-large-tablet: 0,
  --md-sys-typescale-label-large-desktop: 0,
  --md-sys-typescale-label-medium-mobile: 0,
  --md-sys-typescale-label-medium-tablet: 0,
  --md-sys-typescale-label-medium-desktop: 0,
  --md-sys-typescale-label-small-mobile: 0,
  --md-sys-typescale-label-small-tablet: 0,
  --md-sys-typescale-label-small-desktop: 0,
  --md-sys-typescale-body-large-mobile: 0,
  --md-sys-typescale-body-large-tablet: 0,
  --md-sys-typescale-body-large-desktop: 0,
  --md-sys-typescale-body-medium-mobile: 0,
  --md-sys-typescale-body-medium-tablet: 0,
  --md-sys-typescale-body-medium-desktop: 0,
  --md-sys-typescale-body-small-mobile: 0,
  --md-sys-typescale-body-small-tablet: 0,
  --md-sys-typescale-body-small-desktop: 0
);

$breakpoints: (
  mobile: 599,
  tablet: 839,
  desktop: 840
);
