@use '../mixins/roles';

.bw-card {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.bw-card-filled {
    @include roles.surface-variant();
  }

  & > .bw-card-content {
    padding: 16px;
    overflow-y: auto;
    flex-grow: 1;
  }

  & > .bw-card-footer {
    padding: 16px;
    border-top: 1px solid var(--md-sys-color-outline);
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
